extends layout

block content
    
    .container
        h1 Search for programming language...

        form#language-input(action="/search" method="")
            input.text(type='text' placeholder='search')
            input.search(type='submit' value='find language')


    h1 Results

    .container#results
        

    script(id='user-input' type="text/x-handlebars-template")
        li {{title}} - {{description}}
