doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        title Untitled

    body
        block content

        block scripts
            script(src='//code.jquery.com/jquery-2.1.1.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/js/bootstrap.min.js')
            script(src='//cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.4/handlebars.min.js')
            script(src='main.js')